.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.container {
  font-size: 20px;
  padding-top: 50px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left: 80px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  text-decoration-style: wavy;
}
